
.Breadcrumb-title {
    display: flex;
    justify-content: center;
    color: var(--main-color);
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
}

.Blog-container{
    margin-top: 2rem;

}

.Blog-post {
    display: grid; 
    grid-template-columns: auto 1fr; 
    column-gap: 2rem;
    align-items: center;
    background-color: var(--container-color);
    border-radius: 1.2rem;
    padding: 1rem;
    margin-bottom: 3rem;
}

.Blog-img{
    border-radius: .8rem;
    height: 200px;
    width: auto;
}

.Blog-details {
    position: relative;
    font-size: 0.9rem;
    text-align: justify;
    color: var(--main-color);
    top: 1.7rem;
    font-family: 'Poppins', sans-serif;
}

.Blog-title{
    position: relative;
    font-size: 1.5rem;
    font-weight: auto;
    top: 2rem;
    margin-bottom: 2rem;
    color: var(--main-color);
    font-family: 'Poppins', sans-serif;
}

.Blog-date {
    position: relative;
    top: 1rem;
    font-size: .7rem;
    color: var(--main-color);
   
}

.Read-more {
    text-align: right;
}

.button__icon{
    position: relative;
    top: 0.3rem;
}

.pagination{
    display: flex;
    justify-content: right;
    align-items: right;
}

.current {
    background-color: var(--segund-color);
    border-radius: 100%;
    color:var(--main-color);
    font-size: 24px; 
    line-height: 40px; 
    width: 40px; 
    height: 40px; 
    display: flex;
    justify-content: center; 
    text-align: center; 
    position: relative;
    top: -10px;
}

.current:hover{
    background-color: #f1511c;
    transition: transform .5s;
}

.Span-blog {
    margin: 15px;
    font-size: 1.2rem;
    color: black;
    position: relative;
    top: -1rem;
}

.Pagination-icon{
    color: black;
}

/* Para telas menores que 768px */
@media only screen and (max-width: 768px) {
    .Blog-post {
        grid-template-columns: 1fr; 
        margin-left: 20px; 
    }

    .Blog-container {
        margin: 10px 20px; 
        position: relative;
        right: 10px;
    }

    .Breadcrumb-title {
        font-size: 30px; 
        padding: 20px; 
    }

    .Blog-img {
        width: 100%; 
        height: auto; 
    }

    .Blog-details,
    .Blog-title {
        top: 0; 
    }

    .pagination {
        left: auto; 
        text-align: center; 
    }
}

/* Para telas maiores que 768px */
@media only screen and (min-width: 769px) {
    .Blog-container {
        padding: 0 50px; 
    }

    .Blog-post {
        grid-template-columns: auto 1fr; 
        margin-left: 100px; 
    }

    .Breadcrumb-title {
        font-size: 40px; 
        padding: 30px; 
    }

}
