.Sub-title {
    color: #0c1129;
    position: relative;
    top: 5rem;
    left: 60px; /* causa do conflito */
    width: 80%;
    font-size: 2rem;
}

.card-container-one{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    margin-top: 100px;
    
}
.card-one{
    width: 325px;
    background-color: #f5f5f5;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
    
  
}
 .card-one:hover {
    
    background-color: #fff;
    
}

.card-one img{
    width: 100%;
    height: 250px;
}
.card-content-one{
    padding: 16px;
}
.card-content-one h3{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
    letter-spacing: 2px;
    color: #0c1129;
    font-family: 'Bebas Neue', sans-serif;
}
.card-content-one p {
    color: #d3d0d0;
    font-size: 15px;
    line-height: 1.3;
    color: #333;
   
   
}
.card-content-one .btn-one{
    display: inline-block;
    padding: 8px 16px;
    background-color: #0c1129;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff
    

}
@media (max-width: 1366px) {
    .Sub-title {
        left: 40px;
        font-size: 1.8rem;
    }
    .card-one {
        width: 400px;
    }
}


@media (max-width: 1200px) {
    .Sub-title {
        left: 40px;
        font-size: 1.8rem;
    }
    .card-one {
        width: 300px;
    }
}

@media (max-width: 992px) {
    .Sub-title {
        left: 30px;
        font-size: 1.6rem;
    }
    .card-one {
        width: 200px;
    }
}

@media (max-width: 900px) {
    .Sub-title {
        left: 15px;
        font-size: 1.4rem;
    }
    .card-container-one {
        flex-direction: column;
        align-items: center;
    }
    .card-one {
        width: 50%;
        margin: 10px 0;
    }
}

@media (max-width: 768px) {
    .Sub-title {
        left: 20px;
        font-size: 1.4rem;
        top: 3rem;
    }
    .card-container-one {
        flex-direction: column;
        align-items: center;
    }
    .card-one {
        width: 90%;
        margin: 10px 0;
    }
}
@media (max-width: 576px) {
    .Sub-title {
        left: 10px;
        font-size: 1.2rem;
        top: 2rem;
        width: 100%;
        text-align: center;
    }
    .card-content-one h3 {
        font-size: 18px;
    }
    .card-content-one p {
        font-size: 14px;
    }
    .card-content-one .btn-one {
        font-size: 14px;
        padding: 6px 12px;
    }
}