.Sub-title {
    color: #0c1129;
    position: relative;
    top: 5rem;
    left: 60px; /* causa do conflito */
    width: 80%;
    font-size: 2rem;
}


@media (max-width: 1366px) {
    .Sub-title {
        left: 40px;
        font-size: 1.8rem;
    }
    .card-one {
        width: 400px;
    }
}


@media (max-width: 1200px) {
    .Sub-title {
        left: 40px;
        font-size: 1.8rem;
    }
    .card-one {
        width: 300px;
    }
}

@media (max-width: 992px) {
    .Sub-title {
        left: 30px;
        font-size: 1.6rem;
    }
    .card-one {
        width: 200px;
    }
}

@media (max-width: 900px) {
    .Sub-title {
        left: 15px;
        font-size: 1.4rem;
    }
    .card-container-one {
        flex-direction: column;
        align-items: center;
    }
    .card-one {
        width: 50%;
        margin: 10px 0;
    }
}

@media (max-width: 768px) {
    .Sub-title {
        left: 20px;
        font-size: 1.4rem;
        top: 3rem;
    }
    .card-container-one {
        flex-direction: column;
        align-items: center;
    }
    .card-one {
        width: 90%;
        margin: 10px 0;
    }
}
@media (max-width: 576px) {
    .Sub-title {
        left: 10px;
        font-size: 1.2rem;
        top: 2rem;
        width: 100%;
        text-align: center;
    }
    .card-content-one h3 {
        font-size: 18px;
    }
    .card-content-one p {
        font-size: 14px;
    }
    .card-content-one .btn-one {
        font-size: 14px;
        padding: 6px 12px;
    }
}